
#encabezado{
    background-color: Window;
    top:530px;

    height: 160px;

}
#logos{


}

#titulos{

    position: fixed;/*tipo de posicionamiento*/
    top:30px;/*Posicionamiento hacia abajo*/
    left: 450px;/*Posicionamiento a la derecha*/
    font-size: 11px;/*Tamaño de la letra*/
    line-height: 0px;/*altura de cada linea*/
    color: black;/*Color*/
    font-family: 'Open Sans- Sans SErif';/*Tipo de letra*/
    text-align: center;
}
#logins{

    position: fixed;/*tipo de posicionamiento*/
    top:10px;/*Posicionamiento hacia abajo*/
    left: 1300px;/*Posicionamiento a la derecha*/
    font-size: 13px;/*Tamaño de la letra*/
    line-height: 0px;/*altura de cada linea*/
    color: black;/*Color*/
    font-family: 'Open Sans- Sans SErif';/*Tipo de letra*/
    text-align: center;

}
#user{
    height: 70px;
    width: 70px;
}
#titulo_encabezado{
    text-align: center;


}

#pie{

    position: fixed;/*tipo de posicionamiento*/
    top:535px;
    background-color: window;



}
#tesvb{
    text-align: center;
    font-family: "Open Sans- Sans SErif";
    color: black;
    font-size: 13px;


}

#Gobierno{


    text-align: center;
    background-color: window;
    font-family: "Open Sans- Sans SErif";
    color: darkslategray;
    column-count: 2;
    column-width: 10em;
    font-size: 13px;


}
#boton{
    top: 20px;
}

#derechos{
    text-align: center;
    font-family: "Open Sans- Sans SErif";
    background-color: window;
    color: black;
    font-size: 13px;

}