
#encabezado{
    background-color: lightgrey;
    top:530px;
}
#logos{


}

#titulos{

    position: fixed;/*tipo de posicionamiento*/
    top:2px;/*Posicionamiento hacia abajo*/
    left: 450px;/*Posicionamiento a la derecha*/
    font-size: 11px;/*Tamaño de la letra*/
    line-height: 0px;/*altura de cada linea*/
    color: black;/*Color*/
    font-family: 'Open Sans- Sans SErif';/*Tipo de letra*/
    text-align: center;
}
#logins{

    position: fixed;/*tipo de posicionamiento*/
    top:40px;/*Posicionamiento hacia abajo*/
    left: 1200px;/*Posicionamiento a la derecha*/
    font-size: 11px;/*Tamaño de la letra*/
    line-height: 0px;/*altura de cada linea*/
    color: black;/*Color*/
    font-family: 'Open Sans- Sans SErif';/*Tipo de letra*/
    text-align: center;
}

#titulo_encabezado{
    text-align: center;


}
#pie{
    position: fixed;/*tipo de posicionamiento*/
    top:530px;
    background-color: lightgray;
    text-align: center;


}
#titulo_pie_pagina{
    font-size: 30px;
    text-align: center;
    color: black;

}
#cuerpo_pie_pagina{
    text-align: center;
    color: darkslategray;
}
