
#encabezado{
    background-color: Window;
    top:530px;

    height: 160px;

}
#logos{


}

#titulos{

    position: fixed;/*tipo de posicionamiento*/
    top:30px;/*Posicionamiento hacia abajo*/
    left: 450px;/*Posicionamiento a la derecha*/
    font-size: 11px;/*Tamaño de la letra*/
    line-height: 0px;/*altura de cada linea*/
    color: black;/*Color*/
    font-family: 'Open Sans- Sans SErif';/*Tipo de letra*/
    text-align: center;
}
#logins{

    position: fixed;/*tipo de posicionamiento*/
    top:10px;/*Posicionamiento hacia abajo*/
    left: 1300px;/*Posicionamiento a la derecha*/
    font-size: 13px;/*Tamaño de la letra*/
    line-height: 0px;/*altura de cada linea*/
    color: black;/*Color*/
    font-family: 'Open Sans- Sans SErif';/*Tipo de letra*/
    text-align: center;

}
#user{
    height: 70px;
    width: 70px;
}
#titulo_encabezado{
    text-align: center;


}

#pie{

    position: fixed;/*tipo de posicionamiento*/
    top:535px;
    background-color: window;



}
#tesvb{
    text-align: center;
    font-family: "Open Sans- Sans SErif";
    color: black;
    font-size: 13px;


}

#Gobierno{


    text-align: center;
    background-color: window;
    font-family: "Open Sans- Sans SErif";
    color: darkslategray;
    column-count: 2;
    column-width: 10em;
    font-size: 13px;


}
#boton{
    top: 20px;
}

#derechos{
    text-align: center;
    font-family: "Open Sans- Sans SErif";
    background-color: window;
    color: black;
    font-size: 13px;

}



/*DISEÑO DE LA SOLICITUD DE INFORMACIÓN*/
#borde1
{
    border: 1.5px solid black;
    background: #CCCCCC;
}
#borde2
{
    border: 1.5px solid black;

}
.firma
{
    text-align: center;
    font-size: 10px;

}

.recepcion
  {
    border-bottom: black;
    background:#CCCCCC;
    color: black;
    text-align: center;
    font-size: 10px;

  }
.datosol
{
    background:#CCCCCC;
    color: black;
    text-align: center;
}
.datosopc
{
    background:#CCCCCC;
    color: black;
    text-align: center;
}
.btn-success
{
    margin:10px;
    padding: 10px 0px;
    font-size: 1.20em;
    width: 180px;
    color: whitesmoke;
}
.btn-success-1
{
    background:#2fa360;
    margin:0px;
    padding: 10px 0px;
    font-size: 1.20em;
    width: 150px;
    color: whitesmoke;
}
#bordeesquinita
{
    border: 1.5px solid black;
    background:#CCCCCC;
    margin:0px;
    padding: 0px 0px;
    font-size: 1.20em;
    width: 150px;
    color: black;
    text-align: center;
}
#bordeesquinitasujobli
{
    border: 1.5px solid black;
    background:#CCCCCC;
    margin:0px;
    padding: 0px 0px;
    font-size: 1.20em;
    width: 395px;
    color: black;
    text-align: center;
}
#bordeesquinitadescripclara
{
    border: 1.5px solid black;
    background:#CCCCCC;
    margin:0px;
    padding: 0px 0px;
    font-size: 1.20em;
    width: 500px;
    color: black;
    text-align: center;
}
#bordeesquinitacualquier
{
    border: 1.5px solid black;
    background:#CCCCCC;
    margin:0px;
    padding: 0px 0px;
    font-size: 1.20em;
    width: 540px;
    color: black;
    text-align: center;
}
#bordeesquinitamodent
{
    border: 1.5px solid black;
    background:#CCCCCC;
    margin:0px;
    padding: 0px 0px;
    font-size: 1.20em;
    width: 190px;
    color: black;
    text-align: center;
}